@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

body {
    text-align:center;
}

/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
/*  For responsive images as background */

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

/* Images for Animals*/
.img_1-1{background-image:url('../images/Animals/monkey.jpg');}
.img_1-2{background-image:url('../images/Animals/sgmonkey.jpg');}
.img_1-3{background-image:url('../images/Animals/kola.jpg');}

.img_2-1{background-image:url('../images/Animals/otters.jpg');}
.img_2-2{background-image:url('../images/Animals/pandapic.jpg');}
.img_2-3{background-image:url('../images/Animals/leo.jpg');}

.img_3-1{background-image:url('../images/Animals/parrots.jpg');}
.img_3-2{background-image:url('../images/Animals/birds.jpg');}
.img_3-3{background-image:url('../images/Animals/morebirds.jpg');}
/*END*/

/* Images for Plants*/
.xmg_1-1{background-image:url('../images/Plants/orchih.jpg');}
.xmg_1-2{background-image:url('../images/Plants/gtbb6.jpg');}
.xmg_1-3{background-image:url('../images/Plants/gtbb4.jpg');}

.xmg_2-1{background-image:url('../images/Plants/gtbb2.jpg');}
.xmg_2-2{background-image:url('../images/Plants/gtbb8.jpg');}
.xmg_2-3{background-image:url('../images/Plants/gtbb5.jpg');}

.xmg_3-1{background-image:url('../images/Plants/gtbb3.jpg');}
.xmg_3-2{background-image:url('../images/Plants/gtbb.jpg');}
.xmg_3-3{background-image:url('../images/Plants/gtbb7.jpg');}
/*END*/

/* Hover effct for Animals */
.img_1-1, .img_1-2, .img_1-3, .img_2-1, .img_2-2, .img_2-3, .img_3-1, .img_3-2, .img_3-3{
    opacity: 1;
}

.img_1-1:hover, .img_1-2:hover, .img_1-3:hover, .img_2-1:hover, .img_2-2:hover, .img_2-3:hover, .img_3-1:hover, .img_3-2:hover, .img_3-3:hover {
    -webkit-filter: blur(3px) grayscale(0.3) opacity(0.9) sepia(0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* End of Animals Hover Effect */

/* Hover Effect for Plants */
.xmg_1-1, .xmg_1-2, .xmg_1-3, .xmg_2-1, .xmg_2-2, .xmg_2-3, .xmg_3-1, .xmg_3-2, .xmg_3-3{
    opacity: 1;
}

.xmg_1-1:hover, .xmg_1-2:hover, .xmg_1-3:hover, .xmg_2-1:hover, .xmg_2-2:hover, .xmg_2-3:hover, .xmg_3-1:hover, .xmg_3-2:hover, .xmg_3-3:hover {
    -webkit-filter: blur(3px) grayscale(0.3) opacity(0.9) sepia(0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}